autocommand==2.2.2; python_version >= "3.7"
certifi==2022.9.24; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
idna==3.4; python_version >= "3.7" and python_version < "4"
inflect==6.0.2; python_version >= "3.7"
irc==20.1.0; python_version >= "3.7"
jaraco.classes==3.2.3; python_version >= "3.7"
jaraco.collections==3.8.0; python_version >= "3.7"
jaraco.context==4.2.0; python_version >= "3.7"
jaraco.functools==3.5.2; python_version >= "3.7"
jaraco.logging==3.1.2; python_version >= "3.7"
jaraco.stream==3.0.3; python_version >= "3.7"
jaraco.text==3.11.0; python_version >= "3.7"
more-itertools==9.0.0; python_version >= "3.7"
pydantic==1.10.2; python_version >= "3.7"
pytz==2022.6; python_version >= "3.7"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
tempora==5.1.0; python_version >= "3.7"
typing-extensions==4.4.0; python_version >= "3.7"
urllib3==1.26.13; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
