Django==2.2.13
mod_wsgi==4.9.3
irc==17.1
pynsist==2.4
lxml==4.4.1
requests==2.22.0
pyspellchecker==0.5.2
apscheduler==3.6.1
certifi==2019.9.11
cffi==1.13.1
pycparser==2.19
cryptography==3.2
pyjwt==1.7.1
iso8601==0.1.12
